<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao">
    <sql id="table">City</sql>
    <sql id="selectFields">cityId,city,state</sql>
    <select id="getRoommateById" resultType="com.example.demo.model.City">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </select>
</mapper>